$background: #eee

body
  padding-top: 60px
  padding-bottom: 40px
  background-color: $background

h1
  margin-bottom: 10px

.content
  background-color: white
  padding: 20px
  border: solid 1px darken($background, 5%)
  @include border-radius(5px 5px)

.avatar
  height: 30px
  margin: 5px 0px 5px 9px
  @include box-shadow(darken($background, 80%) 0px 0px 2px)
  @include border-radius(2px 2px)

#fractal
  height: 400px


