- title "Fractal Explorer - About"

%h1 About

- 3.times do
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus
    dictum leo sit amet mattis. Ut quis neque nisi, a ultrices purus. Nullam
    blandit risus bibendum odio tincidunt ut posuere lectus elementum. Nulla
    sodales pellentesque dapibus. Quisque purus metus, placerat eget cursus
    at, egestas vitae dolor.  Donec vitae ante ut est ultricies consectetur
    vel sit amet justo. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia Curae; Sed molestie mattis purus, eu sagittis
    risus pulvinar sed. In hac habitasse platea dictumst.

