%h2 Listing users

.table-width
  %table
    %tr
      %th Name
      %th Projects
      %th Tasks

    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.projects.size
        %td= user.tasks.size

= link_to "Add new user", new_user_path, :class => "btn success"
