- title "Fractal Explorer - Home"

%h1 Home

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus
  dictum leo sit amet mattis. Ut quis neque nisi, a ultrices purus. Nullam
  blandit risus bibendum odio tincidunt ut posuere lectus elementum.
#fractal{:data => current_user_hash}


