= f.input :name
= f.input :description, :as => :text
= f.input :deadline, :input_html => { :class => 'dateBox', :value => DateTime.parse(@task.deadline.to_s).strftime("%m/%d/%Y %H:%M") }
/ = f.input :project, :as => :select
.actions
  = f.submit :class => "btn primary"
