.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Fractal Explorer", root_path, :class => "brand"
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "About", "#"
      %ul.nav.pull-right
        %li= link_to "Sign In", "#"

