-if blogs.count == 0
  %p There isn't any apps
-else
  .sidebar-table
    %table{ :style => "width : 500px"}
      -blogs.each do |blog|
        %tr
          %td
            =link_to blog.title, blog
          %td
            -if !blog.user.fullname.nil? && !blog.user.fullname.empty?
              = link_to blog.user.fullname, profile_path(blog.user)
            -else 
              = link_to blog.user.email, profile_path(blog.user)
          %td
            =link_to 'Show', blog, :class => "btn primary"